body {
    background: url('./img/bg.jpg') no-repeat 50%/cover;
}

.game {
    display: flex;
    justify-content: center;
}

.game__block {
    position: relative;
}

.control__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    
}

.btn {
    margin-bottom: 30px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid green;
}

.btn:hover {
    cursor: pointer;
    background-color:lightgreen;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.choice__btn {
    background-color: green;
}

.modal {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #fff;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}